@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
* {
  font-family: 'Fira Code', monospace !important ;
}

@supports (font-variation-settings: normal) {
  * {
    font-family: 'Fira Code VF', monospace !important;
  }
}
body {
  text-align: center;
  max-width: 800px;
  max-height: 600px;
  background-color: #c2c2c2;
  overflow: hidden;
}

.App-logo {
  height: 2rem;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
