body {
  width: 800px;
  height: 600px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.key {
  
  width: 42px;
  height: 38px;
  padding: 4px;
  &.motion {
    background-color: #85c3b3; // Motion
  }

  &.command {
    background-color: #f3b948;
  }

  &.operator {
    background-color: #d9563b;
  }
  &.extra {
    background-color: #efe6e0;
  }
}

.hasBorder { 
  border: 3px solid #000000;
}
